body{
    background-color: #f2ebe5;
}

.input,.select,.textarea{
    width: 100%;
}

input,textarea,select{
    background-color:#f2ebe5;    
}

td,th{
    padding: 20px 50px 20px 50px;
    
}
td{
    text-align: center;
}


h1{
    font-size: 25px;
}

table{
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;

}

form{

    height: 500px;

}
