body{
    background-color: #f2ebe5;
}

.input,.select,.textarea{
    width: 100%;
}

input,textarea,select{
    background-color:#f2ebe5;    
}

td{
    padding: 6px 50px 6px 50px;
}


h1{
    font-size: 25px;
}

table{
    background-color: #ffffff;
}
